*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,body{
	height: 100%;
}


.container{
	width: 100%;
	max-width: 1080px;
	display: flex;
	flex-wrap: wrap;
	margin: 20px auto;
	padding: 30px 0;
	border: 4px solid rgb(220, 220, 220);
}

.img-wrapper{
	width: 33.3%;
	padding: 9%;
	background-color: white;
	position: relative;
	border: 10px solid white;
}

.img{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

}

.containerfinal{
	width: 100%;
	height: 100px;
	position: relative;
	background-color: rgb(211, 211, 211);
	display: flex;
	justify-content: space-between;
	padding: 50px;
}


		
@media screen and (max-width: 768px){
	.img-wrapper{
		width: calc(100% / 2);
		
	}
	
}

@media screen and (max-width: 580px){
	.img-wrapper{
		width: calc(100% / 1);
	}
}